<div class="main-container relative w-full h-full">
  <div
    class="about w-full h-full m-auto py-4 flex flex-col items-center justify-center"
  >
    <div
      class="main-info text-center w-full h-auto flex flex-col items-center justify-center pb-9"
    >
      <h1 class="text-xl md:text-4xl lg:text-6xl pb-3 font-bold text-[#002642] break-all">JOB KEEPER</h1>
      <p class="text-xl text-[#002642] w-full md:w-2/5">The app was created to preserve open positions. The user can create numerous applications in this manner and save them in this application to examine them later. You can also modify or delete the aforementioned applications. To create the views for this project, handlebars was used, and MySQL was used to store the data.</p>
    </div>
    <div
      class="options w-full h-auto flex flex-col md:flex-row items-center justify-center pt-4 px-2 gap-6"
    >
      {{!-- <a
        href="/links/add"
        class="bg-[#F39237] text-white text-center rounded w-full md:w-1/4 py-2 break-all"
      >Save a new postulation</a>
      <a
        href="/links"
        class="bg-[#F39237] text-white text-center rounded w-full md:w-1/4 py-2 break-all"
      >View all postulations</a> --}}
    </div>
  </div>
</div>