<footer class="bg-[#fefcfd] w-full flex flex-col md:flex-row py-2 items-center justify-around">
  <h6 class="font-bold">Emiliano Lopez</h6>
  <div class="social-linksflex-col md:flex-row py-2 items-center justify-center ">
    <a href="https://github.com/EmiLzLz" target="_blank" class="h-auto"><iconify-icon icon="bi:github" style="color: #002642;" width="30" height="30"></iconify-icon></a>
    <a href="https://www.linkedin.com/in/emiliano-lopez-lopez"  target="_blank" class="h-auto"><iconify-icon icon="mdi:linkedin" style="color: #002642;" width="33" height="33"></iconify-icon></a>
  </div>
</footer>