<header class="w-full py-4 bg-[#fefcfd]">
  <nav class="menu container m-auto flex items-center justify-between">
    <div class="logo">
      <img src="/assets/logo_jobKeeper.png" alt="logo" width="50">
    </div>
    <div class="navigate flex items-center  justify-center gap-4">
      <a href="/" class="font-bold">Home</a>
      <a href="/links/add" class="font-bold">Save</a>
      <a href="/links" class="font-bold">View</a>
    </div>
    <div class="title font-bold">
      JOB KEEPER
    </div>
  </nav>
  <div class="w-full relative mobile-menu bg-[#fefcfd] text-right ">
    <button id="mb-menu"><iconify-icon icon="pepicons-pop:menu" style="color: #002642;" width="40" height="40" flip="horizontal"></iconify-icon></button>
    <div id="mobile-links" class=" py-2 bg-[#fefcfd] w-full h-28 absolute z-10 top-14 bottom-0 left-0 flex flex-col items-center justify-center">
      <a href="/" class="font-bold py-2 w-full text-center">Home</a>
      <a href="/links/add" class="font-bold py-2 w-full text-center">Save</a>
      <a href="/links" class="font-bold py-2 w-full text-center">View</a>
    </div>
  </div>
</header>